body {
    background-color: white;
}
body {
    background-color: black;
    font-family: oswald;
    text-align: center;
    color: white;
}
.centre {
    font-family: oswald;
    text-align: center;
    color: white;
}
.canvas {
    width: 35%;
    height: auto;
    box-align: center;
    border:1px solid white;
}
